@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: #1e1e1e;
}

.barra-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
}

.barra-title a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;

}

.barra-title #home,
#biblioteca {
    cursor: pointer;
    transition: 0.2s;
    margin-right: 100px;
}

#biblioteca {
    border-bottom: 2px solid #DE3163;
    position: absolute;
    margin-right: 800px;
}

#home:hover {
    border-bottom: 2px solid #DE3163;
}

#biblioteca:hover {
    border-bottom: none;
}

.barra-title #logo {
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 20px;
}

#iconmusic {
    font-size: 40px;
    max-width: 100%;
    max-height: 100%;
}

.barra-title #perfil img {
    margin-left: 7px;
    height: 30px;
    border: solid 2px black;
    border-radius: 50%;
    cursor: pointer;
}

#track-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    width: 100%;
    height: 80%;
}

.num-musica {
    position: absolute;
    bottom: 200px;
    left: 100px;
    width: 250px;
    height: 150px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 12px;
    float: left;
    color: #C0C0C0;
    border-radius: 5px;
    margin: 20px;

}

.num-musica p:nth-child(2) {
    margin: 0 5px;
}

#playlist {
    color: #F1F0F0;
    font-size: 45px;
}

#nome-playlist {
    font-size: 25px;
    text-transform: capitalize;

}

.num {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #C0C0C0;
}

.barra-play {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
}

.barra-play button {
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(245, 245, 245, 0.1);
}

.barra-play #favorito {
    background: none;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: auto;
    margin: 15px;
    border-radius: 50%;
    margin-right: 1200px;
    transition: 0.2s;
}

.barra-play .musica-titulo {
    position: absolute;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    float: left;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    margin-right: 870px;
}

.barra-play #artista {
    text-transform: capitalize;
    margin-top: 2px;
    color: gray;
    margin-right: 100px;
}

.barra-play .botoes-play {
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;

}

#anterior {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#play {
    background: #DE3163;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    margin: 15px;
}

#proxima {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.barra-play button:hover {
    background: #DE3163;
}

.barra-play i:before {
    color: white;

}

.barra-play .volume {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.5s;
}

#icon-vol {
    margin: 5px;
    cursor: pointer;
}

#icon-vol:hover {
    font-size: 1.1rem;
}

.volume {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin: 0 5px 0 0;
}


.barra-play .duracao {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#duracao-musica {
    color: #DE3163;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 3px;
    overflow: hidden;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -1200px 5px 5px 1200px #DE3163;
    height: 13px;
    width: 13px;
}

.barra-play input[type="range"] {
    width: 100%;
    cursor: pointer;
}

.barra-play .volume #volume {
    height: 4px;
}


.lyrics {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 83px;
    width: 80px;
    height: 30px;
    background: rgba(0, 0, 0, 0.493);
    cursor: pointer;
    border-radius: 5px;
}

#letras {
    color: #fff;
}

.lyrics img {
    height: 15px;
    width: 15px;
}

#reiniciar,
#atualizar {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    outline: none;
    border-radius: 5px;
    height: 25px;
    width: 25px;
}

#reiniciar {
    margin-right: 50px;
}

#atualizar {
    margin-left: 50px;
}